/* модуль visually-hidden*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* блок main-nav */
.main-nav__list {
  list-style: none;
}

.main-nav__link {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

/*  блок adventages */

.adventages__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.adventages__promo {
  font-size: 14px;
  line-heght: 26px;
  font-weight: normal;
  color: #000000;
}

.adventages__list {
  list-style: none;
}

/* блок  feature  */

.feature {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  background-color: #eeeeee;
}

.feature--left{
  color: #ffffff;
  background-color: #81b3d2;
}

.feature--right{
  color: #ffffff;
  background-color: #81b3d2;
}

.feature--details {
  background-color: #ffffff;
}

.feature__title {
  font-size: 21px;
  font-weight: bold;
}


/* модуль hotel-search*/

.hotel-search__button {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: white;
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
}

.hotel-search__question{
  font-size: 30px;
  line-height: 36px;
}

.hotel-search__promo {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

/* модуль form-modal*/
.form-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 568px;
  margin: 0 auto;
  padding: 0 54px;
  padding-top: 55px;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}

.form-modal__field {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 30px;
}

.form-modal__field:last-of-type>.form-modal__label  {
  flex-shrink: 1;
  padding-left: 70px;
}

.form-modal__label {
  font-size: 14px;
  line-height: 38px;
  font-weight: bold;
  flex-basis: 112px;
  flex-shrink: 0;
  text-transform: uppercase;
}

.form-modal__input {
  flex-grow: 1;
  height: 38px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
}

.form-modal__input--counter {
  width: 38px;
}

.form-modal__counter {
  flex-basis: 115px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.form-modal__button{
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  color: #a9a9a9;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
}

.form-modal__submit {
  width: 100%;
  font-family: "PT Sans", Tahoma, sans-serif;;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 55px;
  margin-top: 24px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
}

/* hotel-filter */

.hotel-filter {
  color: #ffffff;
  background-image: url("../img/filter_photo.jpg");
}

.hotel-filter__block,
.hotel-filter__slider{
  border: none;
}

.hotel-filter__caption {
  font-size: 16px;
  line-height: 21px;
}

.hotel-filter__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-filter__input {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.hotel-filter__input--min {
  border-right: none;
}

.hotel-filter__input--max {
  border-left: none;
}

.hotel-filter__submit {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

/* блок result */

.result__amount {
  font-size: 21px;
  line-height: 26px;
}

.result__list {
  list-style: none;
}

/*блок  sorting */

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting__subject {
  color: #000000;
}

.sorting__type {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting__type--active {
  color: #81b3d2;
  border: none;
}

/* блок card*/

.card__name {
  font-size: 21px;
  line-height: 26px;
}

.card__type,
.card__min-cost {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.card__detail {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
}

.card__reserve {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  background-color: #766357;
}

/* блок rating */

.rating__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: #f2f2f2;
}

/* блок footer */

.page-footer__hash {
  font-size: 21px;
  line-height: 26px;
}

.page-footer__develop-by {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

/* блок social-list */

.social-list {
  list-style: none;
}
