.ally-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

body {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;

}

.page__container {
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  margin: 0 auto;
}

/* блок page-header*/
.page-header {
  position: relative;
  z-index: 100;
}

.page-header__link {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.page-header--index {
  min-height: 564px;
}

.page-header--index::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../img/profile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.page-header__title {
  height: 508px;
  background-image: url("../img/welcome.png"), url("../img/header_photo_full.jpg");
  background-color: #81b3d2;
  background-size: auto auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, center 28%;
}

/* блок main-nav */
.main-nav {
  background-color: #ffffff;
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  flex-shrink: 0;
  flex-basis: 20%;
}

.main-nav__link {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.main-nav__link--left {
  padding-left: 30%;
  text-align: left;
}

.main-nav__link--right {
  padding-right: 30%;
  text-align: right;
}

.main-nav__link--active {
  color: #766357;
}

.main-nav__link:hover {
  color: #81b3d2;
}

.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}


/* блок page-main*/

.page-main {
  position: relative;
  background-color: #ffffff;
}

/*  блок adventages */

.advantages {
  padding-top: 60px;
}

.advantages__title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
}

.advantages__promo {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  margin-bottom: 51px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

/* блок  feature  */

.feature {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  flex-basis: 33.3%;
  min-height: 256px;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 47px;
  padding-bottom: 37px;
  box-sizing: border-box;
}

.feature--right,
.feature--left {
  padding-left: 38px;
  padding-right: 38px;
}

.feature--left{
  color: #ffffff;
  background-color: #81b3d2;
  margin-right: 66.6%;
  position: relative;
}

.feature--left::after{
  content: "";
  display: block;
  height: 100%;
  width: calc(100%*2);
  position: absolute;
  top: 0;
  left: 100%;
  background-image: url("../img/city.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 55%;
}

.feature--right{
  color: #ffffff;
  background-color: #81b3d2;
  margin-left: 66.6%;
  position: relative;
}

.feature--right::after{
  content: "";
  display: block;
  height: 100%;
  width: calc(100%*2);
  position: absolute;
  top: 0;
  right: 100%;
  background-image: url("../img/bridge.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 52%;
}

.feature--details {
  min-height: 330px;
  padding-bottom: 62px;
  background-color: #ffffff;
}

.feature--details > .feature__title {
  padding-top: 114px;
  position: relative;
}

.feature__title {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.feature__title--house::before {
  content: "";
  display: block;
  height: 72px;
  width: 100%;
  position: absolute;
  top: 12px;
  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.feature__title--burger::before {
  content: "";
  display: block;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 13px;
  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.feature__title--present::before {
  content: "";
  display: block;
  height: 76px;
  width: 100%;
  position: absolute;
  top: 9px;
  background-image: url("../img/present-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.feature__number {
  display: block;
  text-align: center;
  margin-bottom: 21px;
}

.feature--details>.feature__description {
  max-width: 286px;
}

.feature--right>.feature__description {
  max-width: 305px;
}

.feature__description {
  max-width: 280px;
  text-align: center;
  margin: 0 auto;
}

/* модуль hotel-search*/

.hotel-search {
  padding-top: 50px;
}

.hotel-search__question {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}


.hotel-search__promo {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 46px;
}

.hotel-search__promo-frase {
  display: block;
}

.hotel-search__button {
  font-family: "PT Sans", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: white;
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
}

.hotel-search__button:hover {
  background-color: #604e43;
}

.hotel-search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-search__container {
  position: relative;
  overflow: hidden;
  height: 593px;
  background-color: #dee7cb;
}

.hotel-search__map-link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
}

.hotel-search__map-link img{
  transform: translate(-50%, -50%);
  /* display: block;*/
}

/*@keyframes twist {
  0% { transform: translateX(-50%) scale(0.1, 0.1) rotate(100deg);}
  65% { transform: translateX(-50%) scale(1, 1) rotate(360deg);}
  75% { transform: translateX(-50%) scale(1, 1) rotate(366deg);}
  100% { transform: translateX(-50%) scale(1, 1) rotate(358deg); }
}*/

@keyframes drop {
  0% {
    transform: translateX(-50%) translateY(-395px);
  }
  100% {
    transform: translateX(-50%) translateY(0px);
  }
}

@keyframes blink {
  0%, 30%, 60%, 90% { border-color: #f2f2f2; }
  15%, 45%, 75%, 95%, 100% { border-color: tomato; }
}

/* модуль form-modal*/
.form-modal {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 568px;
  margin: 0 auto;
  padding: 0 55px;
  padding-top: 55px;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}

.form-modal--hide {
  top: -395px;
}

.form-modal--show {
  animation: drop;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.form-modal__input--error{
  animation-name: blink;
  animation-duration: 0.6s;
}

.form-modal__field {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 29px;
}

.form-modal__field:last-of-type>.form-modal__label  {
  width: 116px;
  padding-left: 52px;
}

.form-modal__label {
  font-size: 14px;
  line-height: 38px;
  font-weight: bold;
  width: 112px;
  flex-shrink: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

.form-modal__input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  flex-grow: 1;
  height: 38px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  text-transform: uppercase;
}

.form-modal__input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.form-modal__input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.form-modal__input--counter {
  text-align: center;
  width: 38px;
  padding: 0;
}

.form-modal__input--counter:focus {
  border: 2px solid #e5e5e5;
}

.form-modal__input::-webkit-input-placeholder {
  font-family: "PT Sans", Tahoma, sans-serif;
  color: #000000;
}

.form-modal__input::-moz-placeholder {
  color: #000000;
}

.form-modal__input:-moz-placeholder {
  color: #000000;
}

.form-modal__input:-ms-input-placeholder {
  color: #000000;
}

.form-modal__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-modal__input:focus::-moz-placeholder {
  color: transparent;
}

.form-modal__input:focus:-moz-placeholder {
  color: transparent;
}

.form-modal__input:focus:-ms-input-placeholder {
  color: transparent;
}

.form-modal__counter {
  flex-basis: 115px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.form-modal__button{
  font-family: "PT Sans", Tahoma, sans-serif;
  width: 38px;
  height: 38px;
  padding: 0;
  flex-shrink: 0;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  text-align: center;
}

.form-modal__button:hover {
  color: #000000;
}

.form-modal__button:active {
  color: #81b3d2;
}

.form-modal__button--calendar {
  position: absolute;
  right: 0;
  width: 40px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  background-color: transparent;
}

.form-modal__button--calendar:hover {
  background-image: url("../img/calendar-hover.svg");
}

.form-modal__button--calendar:active {
  background-image: url("../img/calendar-active.svg");
}

.form-modal__button--minus,
.form-modal__button--plus {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #a9a9a9;
}

.form-modal__submit {
  width: 100%;
  font-family: "PT Sans", Tahoma, sans-serif;;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 55px;
  margin-top: 26px;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
}

.form-modal__submit:hover {
  background-color: #669ec0;
}

.form-modal__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* hotel-filter */

.hotel-filter {
  color: #ffffff;
  min-height: 217px;
  background-image: url("../img/filter_photo.jpg");
  background-repeat: no-repeat;
  background-color: #8c726a;
}

.hotel-filter__form {
  display: flex;
}

.hotel-filter__block,
.hotel-filter__slider{
  margin: 0;
  padding: 0;
  border: none;
}

.hotel-filter__block {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  padding-left: 6%;
  padding-right: 4%;
  min-width: 242px;
  box-sizing: border-box;
  border: none;
}

.hotel-filter__container {
  width: 26.5%;
  min-width: 220px;
  margin-top: 27px;
  margin-left: auto;
  padding-right: 6%;
}

.hotel-filter__caption {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 11px;
}

.hotel-filter__label {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding-top: 14px;
  margin-bottom: 11px;
  padding-left: 40px;
}

.hotel-filter__label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
}

.hotel-filter__checkbox:focus+.hotel-filter__label::before {
  outline: 2px solid #81b3d2;
}

.hotel-filter__checkbox:not(:disabled):checked+.hotel-filter__label::before {
  background-image: url("../img/checkbox-on.svg");
}

.hotel-filter__checkbox:not(:disabled):not(:checked)+.hotel-filter__label::before {
  background-image: url("../img/checkbox-off.svg");
}

/*.hotel-filter__slider {
  display: flex;
  flex-direction: column;
}*/

.hotel-filter__slider-value {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.hotel-filter__slider-value::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 22px;
  top: 7px;
  left: 50%;
  background-color: #ffffff;
}

.hotel-filter__input {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  width: 100%;
  min-width: 110px;
  height: 32px;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.hotel-filter__input::-webkit-input-placeholder {
  font-family: "PT Sans", Tahoma, sans-serif;
  color: #ffffff;
}

.hotel-filter__input::-moz-placeholder {
  color: #ffffff;
}

.hotel-filter__input:-moz-placeholder {
  color: #ffffff;
}

.hotel-filter__input:-ms-input-placeholder {
  color: #ffffff;
}

.hotel-filter__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.hotel-filter__input:focus::-moz-placeholder {
  color: transparent;
}

.hotel-filter__input:focus:-moz-placeholder {
  color: transparent;
}

.hotel-filter__input:focus:-ms-input-placeholder {
  color: transparent;
}


.hotel-filter__input--min {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.hotel-filter__input--max {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
}

.hotel-filter__handles {
  position: relative;
  display: flex;
  min-height: 22px;
  margin-bottom: 21px;
}

.hotel-filter__handles::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -1px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.hotel-filter__handles::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -1px;
  width: 80%;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.hotel-filter__handle {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 10;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 10px;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 3px rgba(171, 171, 171, 0.3);
}

.hotel-filter__handle:hover {
  border-width: 9px;
  border-radius: 11px;
}

.hotel-filter__handle--min {
  left: 0;
}

.hotel-filter__handle--max {
  left: 80%;
}

.hotel-filter__submit {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 auto;
  padding: 6px 28px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.hotel-filter__submit:hover {
  color: #000000;
  background-color: #ffffff;
}

/* блок result */

.result__header{
  display: flex;
  align-items: baseline;
  padding: 31px 6%;
  border-bottom: 1px solid #e5e5e5;
}

.result__amount {
  font-size: 21px;
  line-height: 24px;
  flex-basis: 163px;
}

.result__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*блок  sorting */

.sorting {
  flex-grow: 1;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
}

.sorting__subject {
  color: #000000;
  flex-basis: 115px;
  flex-shrink: 0;
  margin: 0;
}

.sorting__type {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  margin-right: 32px;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting__type:hover {
  color: #81b3d2;
}

.sorting__type:active {
  color: #000000;
  border: none;
}

.sorting__type--active {
  color: #81b3d2;
  border: none;
}

.sorting__direction{
  flex-basis: 34px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  height: 11px;
}

.sorting__direction > a {
  display: block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
}

.sorting__asc {
  align-self: flex-end;
}

.sorting__asc:hover path,
.sorting__desc:hover path{
  fill: #231f20;
}

.sorting__asc:active path,
.sorting__desc:active path,
.sorting__desc--active path,
.sorting__asc--active path {
  fill: #81b3d2;
}

/* блок card*/
.card {
  display: flex;
  padding: 30px 6%;
  border-bottom: 1px solid #e5e5e5;
}

.card__foto {
  align-self: center;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 258px;
  padding-left: 30px;
}

.card__name {
  font-size: 21px;
  line-height: 18px;
  margin: 0;
}

.card__link {
  text-decoration: none;
  color: #000000;
}

.card__link:hover {
  color: #81b3d2;
}

.card__link:active {
  color: rgba(0, 0 ,0, 0.3);
}

.card__info {
  min-height: 25px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.card__type,
.card__min-cost {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.card__type{
  flex-basis: 110px;
}

.card__min-cost{
  flex-basis: 142px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
}

.card__button {
  flex-shrink: 0;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  padding: 3px 16px;
  box-sizing: border-box;
  text-decoration: none;
}

.card__button--detail {
  flex-basis: 110px;
  background-color: #81b3d2;
}

.card__button--detail:hover {
  background-color: #669ec0;
}

.card__button--detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.card__button--reserve {
  flex-basis: 142px;
  background-color: #766357;
}

.card__button--reserve:hover {
  background-color: #604e43;
}

.card__button--reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.card__rating {
  display: flex;
  width: 114px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}
/* блок rating */
.rating__in-stars {
  display: block;
  width: 114px;
  height: 17px;
  margin: 0;
  overflow: hidden;
  background-image: url("../img/stars.png");
  background-repeat: no-repeat;
  background-position-y: -1px;
}

.rating__in-stars--five {
  background-position-x: 0;
}

.rating__in-stars--four {
  background-position-x: 24px;
}

.rating__in-stars--three {
  background-position-x: 48px;
}

.rating__in-stars--two {
  background-position-x: 73px;
}

.rating__in-stars--one {
  background-position-x: 90px;
}

.rating__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  width: 110px;
  box-sizing: border-box;
  margin: 0;
  margin-left: auto;
  padding: 3px 10px;
  background-color: #f2f2f2;
  text-align: center;
}

/* блок footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  /*padding: 0 6%;*/
  background-color: #ffffff;
  box-sizing: border-box;
}

.page-footer--index{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer__hash {
  width: 33.3%;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.page-footer__develop-by {
  width: 33.3%;
  text-decoration: none;
  text-align: center;
}

.page-footer__dev-promo {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  padding-right: 120px;
}

.page-footer__dev-promo::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 82px;
  display: block;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo_name.svg");
  background-repeat: no-repeat;
}

.page-footer__dev-promo:hover::after {
  background-image: url("../img/logo_name_hover.svg");
}

.page-footer__dev-promo:active::after {
  background-image: url("../img/logo_name_active.svg");
}
/* блок social-list */

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 150px;
  list-style: none;
}

.social-list__item {
  text-align: center;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-list__link:hover {
  background-color: #669ec0;
}

.social-list__link:active > svg {
  opacity: 0.3;
}

.social-list__link:active {
  background-color: #5496bd;
}

/* модуль visually-hidden*/

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
